
#main-content > p {
    color: red;
}

#all-articles h2 + p {
    color: green
}

/*span[class] {
    color: purple;
}*/

div[id] {
    background: grey;
}

a[title="Search engine"] {
    color: green;
}

span[class~="deck"] {
    color: blue;
}

a[href$="pdf"] {
    color: yellow;
}

a[href^="http"] {
    background: blue;
}